<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css1/main.css' %}">
    <link rel="stylesheet" href="{% static 'css1/responsive.css '%}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js1/jquery.nav.js' %}"></script>
    <script src="{% static 'js1/jquery.sticky.js' %}"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/plugins.js' %}"></script>
    <script src="{% static 'js1/wow.min.js' %}"></script>
    <script src="{% static 'js1/main.js' %}"></script>
</head>
<body>

{% block content %}


{% endblock %}
</body>
</html>