{% extends "pages/layout.html" %}
{% block content %}
<div class="container">
<h1 class="text-center text-light bg-success">PRODUCT</h1>
<p>
   <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/admin/productweb/products/add/">
        Thêm mới sản phẩm
   </a>
</p>

<table class="table table-bordered  table-hover">
    <thead>
    <tr class="table-danger text-center">

        <th>Tên Sản Phẩm</th>
        <th>Giá</th>
        <th>Mô Tả</th>
        <th>Năm Sản Xuất</th>
        <th>Thể loại</th>
        <th>Xem chi tiết</th>
    </tr>
    </thead>
    <tbody>
     {% for item in Product %}
    <tr class="text-center">
    <th>{{item.name}}</th>
    <th>{{item.price}}</th>
    <th>{{item.despation}}</th>
    <th>{{item.year}}</th>
    <th>{{item.category}}</th>
    <th><a class="btn btn-info" href="http://127.0.0.1:8000/detail">View</a> </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}