{% extends "pages/layout.html" %}
{% block content %}

<div class="container">
    <h3 class="display-4">Chi Tiết Sản phẩm</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1></h1>
                </div>
            </div>
  {% for item in Product %}
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label label-primary ">Tên sản phẩm:{{item.name}}</span>
                    <span><img src="{{item.image.url}}" width="540px" height="300px" /></span>

                    <span class="monospaced"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">

                </div>
            </div>

            <hr />

            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Thể Loại:{{item.category}} </span></li>
                <li class="list-group-item"><span class="font-weight-bold">Năm sản xuất :{{item.year}} </span></li>
                <li class="list-group-item"><span class="font-weight-bold">Giá : {{item.price}}</span></li>
            </ul>
             {% endfor %}
        </div>
    </div>
</div>
{% endblock %}